* {
  box-sizing: border-box;
}

@font-face {
	font-family: sofia-pro;
	src: url(../sofiapro-light.otf);
}

body {
	background-color:pink;
}

h1, h2, h3 {
  font-family: sofia-pro;
  display: inline-block;
}

h1 {
	color: #aa61ff;
  font-size: 80px;
	font-weight: 600;
  margin:10px;
}

h2 {
  color: #aa61ff;
  font-size:60px;
  margin:5px;
}

h3 {
  color: #aa61ff;
  font-size:40px;
  margin:5px;
}

header {
  display: flex;
  height: auto;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
}

.ru-logo  {
  object-fit: cover;
  width: 70%;
  height: 100%;
}

.gift-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 50px;
}


#hef {
  margin-top: 50px;
}

@media (min-width: 900px) {
  .gift-container {
    margin: 100px;
  }
}
