* {
  box-sizing: border-box;
}

@font-face {
	font-family: sofia-pro;
	src: url(../sofiapro-light.otf);
}

body {
	background-color:#000075;
}

h1, h2, h3 {
  font-family: sofia-pro;
  display: inline-block;
}

h1 {
	color: #2effc3;
  font-size: 80px;
	font-weight: 600;
  margin:10px;
}

h2 {
  color: #2effc3;
  font-size:60px;
  margin:5px;
}

h3 {
  color: #2effc3;
  font-size:40px;
  margin:5px;
}


header {
  display: flex;
  height: auto;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
}

.ru-logo  {
  object-fit: contain;
  width: 70%;
  height: auto;
}

.gift-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 50px;
}

#hef {
  margin-top: 50px;
}

button {
	background-color: #30feb9;
	border: none;
	border-radius: 50px;
  margin-top: 50px;
	padding: 10px 0px;
	width: 150px;
}

button a {
	border: none;
	color: #00187d;
	font-weight: 600;
	font-size: 16px;
	text-decoration: none;
}

@media (min-width: 900px) {
  .gift-container {
    margin: 100px;
  }
}
