/* Reset CSS for all browsers */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	border: 0;
	font-size: 100%;
	font: inherit;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

@font-face {
	font-family: sofia-pro;
	src: url(../sofiapro-light.otf);
}

*	{
	box-sizing: border-box;
}

body {
	background-color: #f5f5fc;
}

a {
	border-bottom: 1px solid #00197c;
  padding-bottom: 2px;
	text-decoration: none;
}

h2, h3, p {
	line-height: 1.2;
}

a, p {
	color: #40404c;
	font-family: sofia-pro, sans-serif;
}

h1 {
  font-size: 40px;
	margin-bottom: 15px;
}

h2 {
	font-size: 36px;
}

h3 {
  font-size: 28px;
	font-weight: 600;
}

h5 {
	color: #40404c;
	font-size: 25px;
}

h1, h2 {
  color: #fff;
	font-weight: 600;
}

h1, h2, h3, h5 {
	font-family: sofia-pro, sans-serif;
}

button {
	background-color: #30feb9;
	border: none;
	border-radius: 50px;
	padding: 10px 0px;
	width: 150px;
}

button a {
	border: none;
	color: #00187d;
	font-weight: 600;
	font-size: 16px;
	text-decoration: none;
}

.inactive {
	display: none;
}

.active {
  align-content: center;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
  justify-content: center;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.active h2 {
	margin-bottom: 40px;
	text-align: center;
}

.active img {
	align-self: center;
  height: auto;
  width: 50%;
}

.header-menu {
	background-color: #40404c;
	align-items: center;
  display: flex;
  flex-direction: column;
	padding: 30px 0px;
}

.header-menu p {
	color: #fff;
  display: inline-block;
	margin: 0px 10px;
}

.header-menu a:not(:last-child) {
  color: #fff;
	border-color: #fff;
}

.ru-logo {
  display: block;
  height: auto;
	margin: 20px 10px 30px 10px;
  object-fit: scale-down;
	width: 50%;
}

.row {
	margin: 0px 50px;
}

.artist-name {
	background-color: #aa61ff;
	margin: 0;
  padding: 50px;
	width: 100%;
}

.top-artist-img {
	display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.top-artist-img img {
	width: 50%;
  height: 100%;
}

.artist-info	{
	margin-top: 50px;
}

.band-members {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 10px 0px 20px 0px;
}

.band-members img {
	border-radius: 150px;
	height: 100%;
	margin: 15px 10px 10px 10px;
	width: calc(25% - 20px);
}

.artist-info-ingress {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 7px;
}

.top-track-section, .release-section {
	margin-top: 50px;
}

.top-track-container {
	display: flex;
	flex-direction: row;
  flex-wrap: wrap;
	margin: 15px 0px 30px 0px;
}

.top-track-container img {
	height: 100%;
	margin: 10px 0px;
	width: 20%;
}

.top-track-text	{
	border-top: 1px solid #d3d2e1;
	display: flex;
  flex-direction: column;
  justify-content: center;
	padding: 20px;
	width: 80%;
	}

.top-track-container div:last-child {
	border-bottom: 1px solid #d3d2e1;
}

.releases-container {
	display: flex;
  flex-direction: row;
  flex-wrap: wrap;
	margin-top: 15px;
}

.releases-container img {
	margin: 10px;
	width: calc(33% - 20px);
	height: 30%;
}

.ru-sign-up {
	align-items: center;
	background-color: #aa60ff;
	display: flex;
	flex-direction: column;
	margin: 50px 0px 0px 0px;
	text-align: center;
	width: 100%;
	padding: 50px;
}

.ru-sign-up h2, h3 {
	margin-bottom: 10px;
}

.ru-sign-up button {
	margin-top: 15px;
}

@media (min-width: 900px) {
	.active img {
		align-self: center;
	  height: auto;
	  width: 20%;
	}

  body {
	  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

	.header-menu {
		justify-content: space-between;
		flex-direction: row;
    top: 0;
		padding: 0px 50px;
		position: fixed;
		width: 100%;
	}

	.ru-logo {
		width: 15%;
	}

	.artist-name {
		margin: 0;
		padding: 150px 50px 50px 50px;
	}

	.top-artist-img img {
    height: 100%;
		width: 25%;
	}

	.band-members {
		justify-content: flex-start;
	}

	.band-members img {
		width: calc(15% - 20px);
	}

	.top-track-section, .release-section  {
    width: calc(50% - 100px);
	}

	.releases-container img {
		width: calc(33% - 20px)
	}
}
